# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.azur-project.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Azur Project\azur-project\.idea\.idea.azur-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
